.top {
    position:relative;
    background-color: #4aaaa5;
    padding:27.4px;
    left:13vw;
    font-family:'Georgia', Times, Times New Roman, serif;
    line-height: 11.5vh;
    font-size:2rem;
    color:white;
}
.header {
    background-color:#ffffff;
    border-color: #ffffff;
    border-bottom-color: #d3d3d3;
    border-bottom-width: 2px;
    border-style:solid;
    position:fixed;
    width:100%;
    height:12%;
}
body {
    border-top: 25px #ffffff;
    background-image: url("https://i.imgur.com/6ni6HKU.png");
    background-repeat: repeat;
}
.heads {
    position: relative;
    float: right;
    top: 4.5vh;
    right:15.5vw;
    margin-right: 15px;
}
.content {
    position:relative;
    top: 100px;
    border: 1px #d3d3d3 solid;
    background-color: #ffffff;
    padding: 0px 0px 75px 0px;
}

a{
    position:relative;
    left:0vw;
    color: #777777;
    font-size: 1.2rem;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.norm {
    position:relative;
    top:5vh;
    left: 5vw;
    margin-right: 100px;
    color: #777777;
    line-height: 5vh;
    position:relative;
    font-size: 1.2rem;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.norm1 {
    position:relative;
    top:5vh;
    left: 5vw;
    margin-right: 100px;
    color: #777777;
    line-height: 5vh;
    position:relative;
    font-size: 1.2rem;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.fix2 {
    position: relative;
    left: 3vw;
}
.photo {
    position: relative;
    float: left;
    height:200px;
    width:200px;
    top: 5vh;
    left: 3vw;
    margin-bottom: 1.5vh;
}
.pfix {
    position:relative;
    left: 3vw;
}
.hb2 {
    position:relative;
    top:2vh;
    left: 3vw;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    font-size: 2rem;
}
.footer {
    position: fixed;
    left:-3vw;
    bottom:0;
    padding: 15px 0px 5px 0px;
    width: 104%;
    line-height: 3vw;
    margin-top:20px auto;
    color:#ffffff;
    background-color:#666666;
    border-top-width:7.69px;
    border-top-color: #4aaaa5;
    border-style: solid;
    text-align:center;
}
.hbp {
    position: relative;
    padding: 0vh 1vw 0vh 1vw;
    border-style: solid;
    border-color: #ffffff;
    border-right-color: #d3d3d3;
    border-left-color: #d3d3d3;
    border-right-width: 1px;
    border-left-width: 1px;
}
.h2b {
    position:relative;
    top: 4vh;
    left:3vw;
    border-bottom-width: 5px;
    width:70vw;
    height:75px;
    border-color: #ffffff;
    border-bottom-color: #d3d3d3;
    border-style:solid;
    margin-bottom: 3vh;
}
.fix{
    position: relative;
    top: 3vh;
    left: 3vw;
    margin-bottom: 2vh;
}
.first2[type=text], select {
    position: relative;
    width:90%;
    left: 3vw;
    padding: 12px 20px;
    margin: 5px 0px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.msg[type=text], select2 {
    width: 90%;
    position:relative;
    left: 3vw;
    padding: 0px 0vw 6vh 0vw;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 20%;
    position:relative;
    background-color: #4aaaa5;
    color: white;
    padding: 14px 20px;
    left: 2vw;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.photof {
   margin: 0px 10px 10px 10px; 
}
.photocover {
    position:relative;
    left: -10.7vw;
    top: 7.8vh;
    width:13vw;
    text-align:center;
    padding: 10px 0px 10px 0px;
    color:white;
    background-color: #4aaaa5;
    float:left;
}
.photocover2 {
    position:relative;
    left: -10.7vw;
    top: 22vh;
    width:13vw;
    text-align:center;
    padding: 10px 0px 10px 0px;
    color:white;
    background-color: #4aaaa5;
    float:left;
}
.photocover3 {
    position:relative;
    left: -53.6vw;
    top: 22vh;
    width:13vw;
    text-align:center;
    padding: 10px 0px 10px 0px;
    color:white;
    background-color: #4aaaa5;
    float:left;
}
.photocover4 {
    position:relative;
    left: -39.3vw;
    top: 17.2vh;
    width:13vw;
    text-align:center;
    padding: 10px 0px 10px 0px;
    color:white;
    background-color: #4aaaa5;
    float:left;
}
.photocover5 {
    position:relative;
    left: -25vw;
    top: 12.5vh;
    width:13vw;
    text-align:center;
    padding: 10px 0px 10px 0px;
    color:white;
    background-color: #4aaaa5;
    float:left;
}