@media only screen and (min-width: 641px) and (max-width: 768px) {
    .heads {
        position:relative;
        text-align:center;
        background-color: white;
        top:5vh;
        left:-12vw;
}
    .top {
        position:relative;
        background-color: #4aaaa5;
        padding:27px;
        left:14.3vw;
        font-family:'Georgia', Times, Times New Roman, serif;
        line-height: 11vh;
        font-size:2rem;
        color:white;
    }
    .norm1 {
        position:relative;
        top:5vh;
        left: 5vw;
        margin-right: 100px;
        color: #777777;
        line-height: 5vh;
        position:relative;
        font-size: 20px;
        font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }
    input[type=submit] {
        width: 20%;
        position:relative;
        background-color: #4aaaa5;
        color: white;
        padding: 14px 20px;
        left: 1vw;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
     .content {
        position:absolute;
        top: 100px;
        left:50px;
        right:50px;
        border: 1px #d3d3d3 solid;
        background-color: #ffffff;
        padding: 0px 0px 50px 0px;
    }
    .fix{
        position: relative;
        top: 3vh;
        left: 3vw;
        margin: 0px 0px 25px 0px;
    }
    .norm {
        position:relative;
        top:5vh;
        left: 5vw;
        margin-right: 100px;
        color: #777777;
        line-height: 3vh;
        position:relative;
        font-size: 10px;
        font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }
    .photo {
        position: relative;
        float: left;
        height:200px;
        width:200px;
        top: 5vh;
        left: 3vw;
        margin-bottom: 1.5vh;
    }
    .photof {
        height:200px;
        width:200px;
        margin: 0px 10px 10px 10px; 
    }
    .photocover {
        position:relative;
        left: 6.8vw;
        top: -12vh;
        width:26.7vw;
        text-align:center;
        padding: 10px 0px 10px 0px;
        color:white;
        background-color: #4aaaa5;
        
    }
    .photocover2 {
        position:relative;
        left: -25vw;
        top: 20vh;
        width:26.7vw;
        text-align:center;
        padding: 10px 0px 10px 0px;
        color:white;
        background-color: #4aaaa5;
        
    }
    .photocover3 {
        position:relative;
        left: 4.2vw;
        top: -36vh;
        width:26.7vw;
        text-align:center;
        padding: 10px 0px 10px 0px;
        color:white;
        background-color: #4aaaa5;
        float:left;
    }
    .photocover4 {
        position:relative;
        left: 6.8vw;
        top: -36vh;
        width:26.5vw;
        text-align:center;
        padding: 10px 0px 10px 0px;
        color:white;
        background-color: #4aaaa5;
        float:left;
    }
    .photocover5 {
        position:relative;
        left: 4.5vw;
        top: -12vh;
        width:26.5vw;
        text-align:center;
        padding: 10px 0px 10px 0px;
        color:white;
        background-color: #4aaaa5;
        float:left;
    }
}
